h1 {color: green; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {color:coral;font-family: fantasy;
}
ul {
list-style: url(image2/finger\ pointing\ icon.jpeg);
}

ol {list-style:armenian; line-height: normal;}
img { image-orientation: 0deg;}

#menu-bar a {color:blue; text-decoration: none; background-color: lightpink;padding: 5px;}

 #meno- a :hover {background-color: rgb(39, 173, 16); color: white;}

div{ width: 800px;background-color: brown;text-align: center;padding: 50px;border: 10px solid black;
margin: 100px;
}
.inline-element {
  
  background-color: rgb(221, 147, 42);
  height: 400px;
  width: 400px;
  padding: 100px 100px;
  
}
*{margin: o;
  padding: 0;

}
.box-1 {width: 1000px;max-height: 1000px;background-color: aquamarine;


}